body { 
  background-color: #f6f6f6;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent {
  display: grid;
  
  grid-template-columns:1fr 1fr;
  grid-template-rows: 250px 1fr 50px;
  grid-template-areas: 
    "header Nav"
    "main main"
    "footer footer";
  }

header,
navigation,
main,
footer

header {
    background-color: greenyellow;
    grid-area: header;

  }
Nav{
    background-color: darksalmon;
    grid-area: Navigation;
  }

main {
    background-color: orchid ;
    grid-area: main;
   
  }
footer {
    background-color:#ff0093;
    grid-area: footer;
  }



}
